body[b-l9siisujpt] {
}

ul[b-l9siisujpt] {
	list-style:none; 
}
label[b-l9siisujpt]
{
	width: 55%;
	display: inline-flex;
	justify-content: space-between;
}
input[type=checkbox]:checked + lable[b-l9siisujpt] {
	color: gray;
	text-decoration:line-through;
}
.statistics[b-l9siisujpt] {
	display:flex;
	justify-content: space-between;
}